<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGgdBpT4mvY48wkgkoZNZpUOWo04y3rO8</string>
	<key>GCM_SENDER_ID</key>
	<string>65502198938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.G2.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-db452</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-db452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65502198938:ios:be3980c537959077de3323</string>
</dict>
</plist>